* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shape {
  background: linear-gradient(
    30deg,
    hsl(264, 100%, 61%) 30%,
    hsl(293, 100%, 63%) 100%
  );
  border-radius: 0 0 250px 200px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100px;
  width: 30%;
  height: 80vh;
}

.shape-gray {
  border-radius: 250px 250px 0 0;
  background-color: hsl(270, 20%, 96%);
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -150px;
  width: 30%;
  height: 80vh;
  display: block;
  overflow: hidden;
}

body {
  overflow-x: hidden;
}
